* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to right, #f0f4f8, #dbe9f4);
            color: #333;
            line-height: 1.6;
            padding: 40px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            background-color: white;
            padding: 40px;
            border-radius: 12px;
            max-width: 800px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1 {
            color: #0a6c91;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 30px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 30px;
        }
        .nav {
            display: flex;
            list-style-type: none;
        }
        li {
            margin-right: 20px;
        }

        .package {
            background: linear-gradient(to right, #f0f4f8, #dbe9f4);
            padding: 40px;
            border-radius: 12px;
            max-width: 800px;
            text-align: center;
            margin: 10px;
        }
        .photo {
            background: linear-gradient(to right, #f0f4f8, #dbe9f4);
            padding: 40px;
            border-radius: 12px;
            max-width: 300px;
            text-align: center;
            margin: 10px;
            max-height: 300px;
        }

        .package-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .booking-form {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        .input-wrapper {
            margin-bottom: 10px;
        }